:root {
  --color-bg: #01297d;
  --color-primary: #DCFC73;
  --color-text: #ffffff;
  --color-accent: #1C1C1C;
  --max-width: 1200px;
}
/* Base reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* { box-sizing: border-box; margin: 0; padding: 0; }
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'Arial';
  line-height: 1.5;
  font-size: medium;
}

p {
    font-size: 25px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

h2 {
    font-size: 35px;
    font-weight: lighter;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

hr{
    color: #ffffff;
}

.highlight {
    background-color: var(--color-primary);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 12px 20px;
    margin: 3px 0;
    color: black;
    font-weight: bold;
}



.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}
/* NAVBAR */
/* Container to hold nav and button */
.navbar-container {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 24px;
    margin: 30px 0;
}

/* Main nav styling */
.nav {
    width: 80%;
    display: flex;
    background-color: #5a6b8e;
    /*Gray-500*/
    border-radius: 32px;
    border-color: #ffffff;
    overflow: hidden;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.nav a {
    width: 33.33%;
    display: block;
    padding: 17px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
    border-radius: 32px;
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Contact button styling */
.contact-btn {
    width: 19%;
    text-align: center;
    display: inline-block;
    padding: 17px 24px;
    background-color: #DCFC73;
    color: #111827;
    /*Gray-900*/text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 32px;
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
}

.contact-btn:hover {
    opacity: 0.9;
}

/* Mail Signup Section */
.signup-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-top: 13vh;
        padding-left: 12vw;
        padding-right: 12vw;
        align-items: center;

}






.signup label input {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-color: #426bbf;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #426bbf;
    color: lightgray;
    text-align: center;
    font-size: 15px;
}

.signup label input[type="text"]{
    width: 20%;
}

.signup label input[type="email"]{
    width: 50%;
}

.signup button {
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--color-primary);

}

/*.email-form {
    width: 50%;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 32px;
    border-color: #426bbf;
    overflow: hidden;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;

}*/

.tagline_container{
    padding-top: 200px;
    padding-bottom: 150px;
    text-align: center;
}

.line-break {
    padding-top: 100px;
    text-align: center;
    width: 90vw;
    padding-left: 10vw;
}

.problem-section_container{
    padding-top: 75px;
    padding-bottom: 100px;
    width: 80vw;
    padding-left: 25vw;
    align-items: center;
    text-align: center;
}



.cards{
        padding-top: 10vh;
        padding-bottom: 10vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
}


.card {
        position: relative;
        background: #426cbf80;
        padding: 1.5rem;
        border-radius: 12px;
        line-height: 1.5;
        backdrop-filter: blur(6px);
        border: 1px solid rgba(197, 197, 197, 0.8);
}

.card-icon {
        position: absolute;
        top: -25px;
        left: -25px;
        background: var(--color-primary);
        border-radius: 50%;
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
}




/*


.manifesto-banner {
    background-color: #DCFC73; 
    white-space: nowrap;
    overflow: hidden;
    width: 100vw;
}

.manifesto-text {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.manifesto-text span {
    margin-right: 2rem;
}*/

.trust-section_container{
    width: 90vw;
    padding-left: 10vw;
    text-align: center;
}

.trust-grid{
    display:flex;
    flex-direction:column;
    gap:0; /* rules provide separation */
    padding-top: 8vh;
}

.row{
    position:relative;
    display:grid;
    grid-template-columns: 1fr auto 1fr; /* left | dash | right */
    align-items:center;
    padding: clamp(16px, 3.2vw, 34px) 0;
}

.row + .row{ border-top:1px solid var(--rule); }

.left, .right{
    font-size:clamp(16px,1.8vw,28px);
    line-height:1.35;
}

.left{ text-align: left;}
.right{ text-align:right; }

  /* Middle “dash” */
.dash{
    width:64px; height:0;
    border-top:2px solid rgba(255,255,255,.45);
    margin:0 24px;
    translate: 0 2px; /* optical centering */
}

.about-section{
    width: 90vw;
    padding-left: 10vw;
    text-align: center;
    padding-top: 100px;
}

.abouts{
        padding-top: 10vh;
        padding-bottom: 10vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

}

.about-point-button{
    text-align: center;
    background-color: #5a6b8e;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 20px 20px;
    border-color: #ddd;
}

.about-point-right{
text-align: left;
}




.waitlist-section{
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
    grid-template-columns: 20vw 40vw;
    align-items: center;
    width: 60vw;
    padding-left: 12vw;
    gap: 8vw;

}

.waitlist-section h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.waitlist-section h2 .highlight {
    color: #c6ff00;
}

.waitlist{


}

.wait-text{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.wait-rebels{
    padding-left: 41vw;
    text-align: left;
}

.counter {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1em;
}

.digit {
    width: 10vw;
    height: 25vh;
    background-color: #1d2a6c;
    border-radius: 3vw;
    border-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    font-weight: bold;
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    -ms-border-radius: 3vw;
    -o-border-radius: 3vw;
    box-shadow: 0 4px 12px rgba(250,250,250,0.75) inset,
                0 4px 16px rgba(0,0,0,0.35);
    border: 1px solid var(--digit-border);
}

.waitlist-section p {
    font-size: 1em;
    color: #ddd;
}

.footer-container{
    padding-top: 20vh;
    padding-bottom: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-top: 2vh;
}

.footer-left{
    text-align: left;
}


.footer-right{
    text-align: right;
}
